beautifulsoup4==4.14.2
bs4==0.0.2
html5lib==1.1
httpmdhtml @ git+https://github.com/ericabxy/python-md-to-html-server@ac3fae136196bda06f068b87ed1a2c062258b02b
Markdown==3.9
markdown-it-py==4.0.0
mdurl==0.1.2
six==1.17.0
soupsieve==2.8
typing_extensions==4.15.0
webencodings==0.5.1
