<table>
  <tr>
    <th colspan='2'>Skills</th>
  <tr>
    <th>System Book</th>
    <td>
      {% for doc in site.core_skills %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
        {% unless forloop.last %}&bull;{% endunless %}
      {% endfor %}
    </td>
  </tr>
  <tr>
    <th>Genre</th>
    <td>
      {% for doc in site.genre_skills %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
        {% unless forloop.last %}&bull;{% endunless %}
      {% endfor %}
    </td>
  </tr>
</table>
