<table>
  <tr>
    <th colspan='2'>Skills</th>
  <tr>
    <th>System Book</th>
    <td>
      {% assign skills = site.skills | where_exp: 'item', 'item.categories contains "System Book"' %}
      {% for doc in skills %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
        {% unless forloop.last %}&bull;{% endunless %}
      {% endfor %}
    </td>
  </tr>
  <tr>
    <th>Adventure</th>
    <td>
      {% assign skills = site.skills | where_exp: 'item', 'item.categories contains "Adventure"' %}
      {% for doc in skills %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
        {% unless forloop.last %}&bull;{% endunless %}
      {% endfor %}
    </td>
  </tr>
  <tr>
    <th>Space</th>
    <td>
      {% assign skills = site.skills | where_exp: 'item', 'item.categories contains "Space"' %}
      {% for doc in skills %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
        {% unless forloop.last %}&bull;{% endunless %}
      {% endfor %}
    </td>
  </tr>
  <tr>
    <th>Fantasy</th>
    <td>
      {% assign skills = site.skills | where_exp: 'item', 'item.categories contains "Fantasy"' %}
      {% for doc in skills %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
        {% unless forloop.last %}&bull;{% endunless %}
      {% endfor %}
    </td>
  </tr>
</table>
