<table>
  <tr>
    <th colspan='2'>System Book</th>
  </tr>
  <tr>
    <th>Attributes</th>
    <td>
      {% assign docs = site.attributes | sort: 'order' %}
      {% for doc in docs %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
        {% unless forloop.last %}&bull;{% endunless %}
      {% endfor %}
    </td>
  </tr>
  <tr>
    <th>Professions</th>
    <td>
      {% for doc in site.professions %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
        {% unless forloop.last %}&bull;{% endunless %}
      {% endfor %}
    </td>
  </tr>
  <tr>
    <th>Skills</th>
    <td>
      {% for doc in site.skills %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
        {% unless forloop.last %}&bull;{% endunless %}
      {% endfor %}
    </td>
  </tr>
</table>
