---
---

@import "{{ site.theme }}";

h2, h3 {
  font-family: 'Stardos Stencil', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

a:link {
  color: MidnightBlue;
}

a:visited {
  color: Indigo;
}

ins {
  text-decoration: none;
}

ins::before {
  content: '[';
}

ins::after {
  content: ']';
}
