html {
  background: linear-gradient(Gray, WhiteSmoke, Gray);
  height: 100%;
}

body {
  font-family: 'Arial', 'Helvetica', sans-serif;
  background-color: WhiteSmoke;
  color: Black;
  margin: 0;
  min-height: 100%;
  padding: .5em;
}

blockquote, table {
  background: linear-gradient(#f0f0f0, #f3f3f3);
  border: 1px solid Black;
  margin: .5em auto;
  padding: .5em;
}
  
caption, h1, h2, h3 {
  font-family: 'Stardos Stencil', sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

table {
  border-collapse: collapse;
}

tbody tr:nth-child(odd) {
  background-color: WhiteSmoke;
}

td {
  padding: 1px .5em;
}

a:link {
  color: MidnightBlue;
}

a:visited {
  color: Indigo;
}

ins {
  text-decoration: none;
}

ins::before {
  content: '[';
}

ins::after {
  content: ']';
}

[title] {
  text-decoration: underline dotted;
}

/* Mobile Styles */
@media only screen and (max-width: 720px) {
  body {
    margin: 0;
  }
}

/* Tablet layout */
@media only screen and (min-width: 720px) and (max-width: 960px) {
  body {
    column-count: 2;
  }

  table {
    margin: auto;
  }
}

/* Desktop layout */
@media only screen and (min-width: 961px) {
  body {
    border: 6px solid Black;
    column-count: 2;
    margin: 0 auto;
    width: 960px;
  }
  
  table {
    margin: auto;
  }
}
